extends ../pug/common
block content
	div.d-flex.align-items-center.flex-column.mt-3
		p.h2 hello #{name}
		div.d-flex
			a.btn.btn-primary.d-inline(href='users') USER
			a.btn.btn-primary.d-inline.ms-1(href='users/create') CREATE
		br
		img(src="/image.jpeg" class="img-thumbnail w-25 h-25")